<a href="https://colab.research.google.com/github/JUHONGBAE/python_example/blob/master/0514_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* colab에 좋은 점: 시각화가 잘 되어 있고, 설치가 필요 없고, 학습을 빠르게 할 수 있다.
* .py에 좋은 점: 실무에서는 colab으로 개발하는 것이 아닙니다! .py로 만들어서 개발해야 합니다.

# colab

- google id만 있으면 ram을 12G, disk를 100G나 되는 원격 컴퓨터를 무료로 준다!
- 여기에는 Python 환경이 모두 설정이 되어 있어서 별도의 설정이 필요 없다!
- google drive가 자동 연동되어서 별도로 다운로드 해서 저장할 필요가 없다!
- Ctrl + Enter: 현재 셀 실행
- Alt + Enter: 현재 셀 실행 + 아래 셀 하나 만들기

## 마크업과 마크다운

```
- HTML은 웹 브라우저나 고급 문서를 표현
<h1>hello world</h1>
<h2>hello world</h2>
<p>hello world</p>

- Markdown은 서식이 필요치 않은 문서를 표현
# hello world
## hello world
```

## 마크 다운 문법(우리가 사용할 문법)

```
# hello world
## hello world
### hello world

- hello world
- hello world
- hello world

1. hello world
2. hello world
3. hello world
```

# range

In [ ]:
range(1, 10, 2) # start, stop, step

In [ ]:
l = [10, 20, 30, 40]
l # 이렇게 마지막 라인에 한하여 print를 안해도 출력이 됩니다.

[10, 20, 30, 40]

In [ ]:
range(0, 10)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # 아니? 이렇게 왜 안나오는거지?

range(0, 10)

In [ ]:
# range()는 python 2.x에서는 list였습니다!!!!?
type(range(0, 10)) # 왜 range라는 타입일까요?

range

In [ ]:
# 파이썬은 속도를 올리기 위한 작업을 매 버전마다 해왔습니다.
# 그래서 최종 목표는 C의 속도를 따라잡는 것입니다.
# range(10000000000000000) 이렇게 데이터를 생성한다고 생각해보세요.
# 0 ~ 10000000000000000에 숫자를 모두 메모리에 올려야 합니다.
# xrange()라는 것을 만들어서 이를 해결했습니다.
# xrange는 숫자를 생성하지 않고, start, stop, step 값으로 호출을 할 때 하나씩 생성을 하는 방식을 새롭게 도입했습니다.
# xrange가 3.x로 오면서 range가 된 것입니다!

In [ ]:
# range()의 인덱싱
range(100)[3]
range(100, 1000, 100)[3]

400

In [ ]:
# range()의 슬라이싱
range(100)[1:10]

range(1, 10)

In [ ]:
# range의 step 음수 값
list(range(100, 9, -10))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# function

In [ ]:
# function이라는 것이 왜 필요했을까?
# 첫번째 이유

x = 10 # 이 코드가 반복되니 이 코드의 이름을 hello라고 하고, 이 코드 자리에 hello를 놓자!
y = 20
print(x + y)

a = 10

x = 10
y = 20
print(x + y)

b = 20

x = 10
y = 20
print(x + y)

a + b

x = 10
y = 20
print(x + y)

a - b

x = 10
y = 20
print(x + y)

In [ ]:
# function이라는 것이 왜 필요했을까?
# 반복되는 코드가 줄어들었다!

def hello():
    x = 10
    y = 20
    print(x + y)

hello()
a = 10
hello()
b = 20
hello()
a + b
hello()
a - b
hello()

In [ ]:
# 두 번째 이유
# 수만줄의 코드도 아래와 같이 함수로 쌓여있으면 '구조를 파악'하기 쉽습니다.

땅파기()
땅다지기()
상하수도설치()
벽돌쌓기()
지붕올리기()
내부인테리어()

In [ ]:
# 세 번째 이유
# 알지 않아도 되는 코드를 들여다보지 않을 수 있어요.
# 추상화
# 여러분이 자동차를 운전할 때 자동차 패달을 밟는다 해서
# 엔진을 뜯어볼 필요가 있나요?
# 파이썬에서 추상화란 복잡한 내부 구현을 숨기고
# 필요한 기능만 외부에 노출시켜 코드를 더 이해하기 쉽고 사용하기 편리하게 만드는 개념입니다.

땅파기()
땅다지기()
상하수도설치()
벽돌쌓기() # 내 과업은 벽돌 쌓기를 수정하는 것입니다.
지붕올리기()
내부인테리어()

In [ ]:
def hello():
    x = 10
    y = 20
    return x + y

In [ ]:
# 파라미터와 아규먼트

def xysum(x, y): # 함수를 정의하는 부분
    return x + y

xysum(10, 20) # 함수를 호출하는 부분

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실행할 때)

def xysum(x, y): # 함수를 정의하는 부분
    return x + y

xysum(10, 20) # 함수를 호출하는 부분

In [ ]:
def xysum(x, y):
    return x + y # 나를 호출한 곳에 그대로 이 값을 넣어주세요!

result = xysum(10, 20) + xysum(30, 40) + xysum(50, 60)
result

210

In [ ]:
def xysum(x, y):
    print(x + y)

result = xysum(10, 20) + xysum(30, 40) + xysum(50, 60)
result

30
70

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [ ]:
None
print(None)

None

In [ ]:
def a(x, y):
    z = x + y

print(a(10, 20))

None

In [ ]:
def a(x, y):
    z = x + y
    return None

print(a(10, 20))

None

In [ ]:
print(print(print('hello')))

hello
None
None

In [ ]:
# 파라미터가 있는 함수
def hello(a):
    return a

# 파라미터가 없는 함수
def hello():
    return 'hello world'

In [ ]:
# 리턴값이 있는 함수
def add(a, b):
    return a + b

# 리턴값이 없는 함수
def add(a, b):
    print(a + b)

In [ ]:
# 문제1: 2x + 15 방정식이 주어졌을 때, x값이 10일때 y값이 얼마인지 구하는 함수를 만드세요.

def solution(x):
    return 2 * x + 15

solution(10)

35

In [ ]:
# map을 아직 안배웠어요!
# map은 나중에 할 예정입니다. 지금 이 코드는 '어떻게 활용하는가?'에 대한 얘기입니다.
list(map(solution, range(10)))

[15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

In [ ]:
# 실제 모의 주식 그래프는 아래와 같이 그립니다.
import random

l = [15, 17, 19, 21, 23, 25, 27, 29, 31, 33]
result = []
for i in l:
    result = result + [i + random.randint(-5, 5)]
result

[15, 12, 22, 26, 20, 22, 22, 28, 29, 37]

In [ ]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.

def solution(a, b):
    for i, v in enumerate(a):
        a[i] = v + b[i]
    return a

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.
# 관습적으로 안쓰는 코드는 변수 _ 에 할당합니다.

def solution(a, b):
    result = []
    for i, _ in enumerate(a):
        result.append(a[i] + b[i])
    return result

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
list(enumerate({'one':100, 'two':200}))

[(0, 'one'), (1, 'two')]

In [ ]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.
# 좀 더 우아한 풀이

def solution(a, b):
    return list(map(sum, (zip([10, 20, 30], [1, 2, 3]))))

solution([10, 20, 30], [1, 2, 3])

In [ ]:
# 문제3: 행렬(리스트의 리스트)의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요.
# 예: [1, 2, 3, 4] * 2 = [2, 4, 6, 8]

def solution(matrix, multiplier):
    result = []
    for i in matrix:
        result.append(i * multiplier)
    return result

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 문제3: 행렬(리스트의 리스트)의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요.
# 예: [1, 2, 3, 4] * 2 = [2, 4, 6, 8]

def solution(matrix, multiplier):
    return [i * multiplier for i in matrix]

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
s = []
for i in range(1, 10, 2):
    s.append(i)
s

[1, 3, 5, 7, 9]

In [ ]:
[i for i in range(1, 10, 2)]

[1, 3, 5, 7, 9]

In [ ]:
# 아래와 같은 코드는 가독성이 떨어지기 때문에 좋은 코드라고 보기 어렵습니다.
# 파이썬에서는 읽기 좋은 코드에 가치를 높게 평가합니다!
[f'{i} X {j} = {i * j}' for i in range(2, 10) for j in range(1, 10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [ ]:
# 문제4: 프로그래머스(카카오 코딩 테스트 보는 공간)에 문제 하나 풀어보세요.
# 기업에서 이런식으로 알고리즘 테스트가 나옵니다.
# https://school.programmers.co.kr/learn/courses/30/lessons/181928

def solution(num_list):
    짝수 = ''
    홀수 = ''
    for i in num_list:
        if i % 2 == 0:
            짝수 += str(i)
        else:
            홀수 += str(i)
    answer = int(짝수) + int(홀수)
    return answer

solution([3, 4, 5, 2, 1])

393

In [ ]:
# 파라미터에 기본값이 정해져 있는 경우!

def add(x = 10, y = 20):
    return x + y

add()

30

In [ ]:
# 지역변수 전역변수

x = 10

def hello():
    print(x) # 밖에 있는 변수는 읽을 수는 있습니다.

hello()

10

In [ ]:
x = 10

def hello():
    x += 1 # 밖에 있는 변수를 수정할 수는 없습니다.

hello()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [ ]:
x = 10 # 전역변수 x 10

def hello():
    x = 100 # 지역변수 x 100

hello()
print(x)

10

In [ ]:
x = 10 # 전역변수 x 10

def hello(input_x):
    input_x += 10
    return input_x

x = hello(x) # 초급자의 마음: 아니? 이렇게 불편하게 써야해?
print(x)

20

In [ ]:
# 초급자의 마음: 이렇게 하면 되잖아!
# => 아주 짧은 코드에서는 맞는 얘기지만
# 실무에서는 깨끗한 코드, 구조화 되어있는 코드, 견고한 코드가 필요합니다.

x = 10
x += 10

print(x)

20

In [ ]:
# 대부분 아래 코드는 안좋은 사례로 꼽힙니다.

x = 10

def hello():
    global x
    x += 100

hello()
print(x)

In [ ]:
# locals()
# globals()

In [ ]:
def add(a, b):
    z = a + b
    print(locals())
    return z

add(10, 20)

{'a': 10, 'b': 20, 'z': 30}

30

In [ ]:
# hello라는 것은 무엇일까?
# print라는 것은 무엇일까?

# hello든 print든 변수입니다! 함수의 이름은 변수입니다.

In [ ]:
a = print
a('hello world')

hello world

In [ ]:
l = [a, a, a, a, a]
l[0]('hello')

hello

# 연습문제

```
# 문제1: 두 수를 더하는 함수를 만드세요.
def solution(a, b):
    pass

solution(5, 3)  # 결과: 8
```

```
# 문제2: 두 수를 곱하는 함수를 만드세요.
def solution(a, b):
    pass

solution(4, 7)  # 결과: 28
```

```
# 문제3: 리스트의 모든 숫자를 더하는 함수를 만드세요.
def solution(numbers):
    pass

solution([1, 2, 3, 4, 5])  # 결과: 15
```

```
# 문제4: 리스트의 평균값을 계산하는 함수를 만드세요.
def solution(numbers):
    pass

solution([10, 20, 30, 40])  # 결과: 25.0
```

```
# 문제5: 문자열의 길이를 반환하는 함수를 만드세요.
def solution(text):
    pass

solution("파이썬")  # 결과: 3
```

```
# 문제6: 리스트에서 가장 큰 수를 찾는 함수를 만드세요.
def solution(numbers):
    pass

solution([7, 12, 3, 8, 4])  # 결과: 12
```

```
# 문제7: 리스트에서 가장 작은 수를 찾는 함수를 만드세요.
def solution(numbers):
    pass

solution([7, 12, 3, 8, 4])  # 결과: 3
```

```
# 문제8: 문자열을 n번 반복하는 함수를 만드세요.
def solution(text, n):
    pass

solution("안녕", 3)  # 결과: "안녕안녕안녕"
```

```
# 문제9: 주어진 숫자가 짝수인지 확인하는 함수를 만드세요. (짝수면 True, 홀수면 False 반환)
def solution(number):
    pass

solution(6)  # 결과: True
solution(9)  # 결과: False
```

In [ ]:
# 문제1: 두 수를 더하는 함수를 만드세요.
def solution(a, b):
    return a + b

solution(5, 3)  # 결과: 8

In [ ]:
# 문제2: 두 수를 곱하는 함수를 만드세요.
def solution(a, b):
    return a * b

solution(4, 7)  # 결과: 28

In [ ]:
# 문제3: 리스트의 모든 숫자를 더하는 함수를 만드세요.
def solution(numbers):
    return sum(numbers)

solution([1, 2, 3, 4, 5])  # 결과: 15

15

In [ ]:
# 문제3: 리스트의 모든 숫자를 더하는 함수를 만드세요.
def solution(numbers):
    result = 0
    for i in numbers:
        result += i
    return result

solution([1, 2, 3, 4, 5])  # 결과: 15

15

In [ ]:
# 문제4: 리스트의 평균값을 계산하는 함수를 만드세요.
def solution(numbers):
    return sum(numbers) / len(numbers)

solution([10, 20, 30, 40])  # 결과: 25.0

In [ ]:
# 문제5: 문자열의 길이를 반환하는 함수를 만드세요.
def solution(text):
    return len(text)

solution("파이썬")  # 결과: 3

3

In [ ]:
# 문제5: 문자열의 길이를 반환하는 함수를 만드세요.
def solution(text):
    count = 0
    for _ in text:
        count += 1
    return count

solution("파이썬")  # 결과: 3

3

In [ ]:
# 문제6: 리스트에서 가장 큰 수를 찾는 함수를 만드세요.
def solution(numbers):
    return max(numbers)

solution([7, 12, 3, 8, 4])  # 결과: 12

12

In [ ]:
# 문제6: 리스트에서 가장 큰 수를 찾는 함수를 만드세요.
# sorted나 max와 같은 것을 안쓰고 반복문 만으로 풀어보겠습니다.
# 다만 실제 문제를 이렇게 풀진 않습니다.
# 원리에 다가간다는 의의가 있어요.
# 최댓값 => 최솟값을 먼저 저장
# 최솟값 => 최댓값을 먼저 저장
def solution(numbers):
    max_value = float('-inf')
    for i in numbers:
        if i > max_value:
            max_value = i
    return max(numbers)

solution([7, 12, 3, 8, 4])  # 결과: 12

12

In [ ]:
float('inf') > 10
float('-inf') > 10

False

In [ ]:
# 문제7: 리스트에서 가장 작은 수를 찾는 함수를 만드세요.
def solution(numbers):
    return min(numbers)

solution([7, 12, 3, 8, 4])  # 결과: 3

In [ ]:
# 문제7: 리스트에서 가장 작은 수를 찾는 함수를 만드세요.
# 만약 비어있을 경우 -1을 반환하세요!
def solution(numbers):
    if len(numbers) == 0:
        return -1
    return min(numbers)

solution([])

-1

In [ ]:
# 문제8: 문자열을 n번 반복하는 함수를 만드세요.
def solution(text, n):
    return text * n

solution("안녕", 3)  # 결과: "안녕안녕안녕"

'안녕안녕안녕'

In [ ]:
# 문제9: 주어진 숫자가 짝수인지 확인하는 함수를 만드세요. (짝수면 True, 홀수면 False 반환)
def solution(number):
    if number % 2 == 0:
        return True
    else:
        return False

solution(6)  # 결과: True

True

# 변수

In [ ]:
a = 10
b = a
c = b

c

# 화살표는 어떻게 그려지는 것일까요? 답은 2번입니다!
# 1번: c -> b -> a -> 10
# 2번:
#      a -> 10
#      b -> 10
#      c -> 10

10

In [ ]:
# 증명
a = 10
b = a
c = b

c

10

In [ ]:
b = 100
c

10

In [ ]:
a = [1, 2, 3]
b = a

id(a), id(b)

a.append(10)
b

[1, 2, 3, 10]

# type, dir, id

- type은 앞으로도 자주 사용됩니다. 왜냐하면 우리가 앞으로 사용할 데이터 자료형은 기본 자료형이 아닌 경우가 많기 때문이에요.
- dir은 여러분이 해당 자료형에 있는 속성들을 파악하기 좋습니다.
- id는 해당 자료형이 무엇을 가리키고 있는지 확인하기 좋습니다.

In [ ]:
l = [10, 20, 30, 40]
print(type(l)) # print와 print를 안하는 것은 왜 차이가 있죠?

<class 'list'>

In [ ]:
print(type(hello))

<class 'function'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
print(a)

10

In [ ]:
# 타입 확인이 이만큼 중요하다는 것을 보여드리기 위한 예제 2개

# 예 1) 눈으로 10으로 보인다고 해서 int형이라고 생각하지 마세요.
import numpy as np

data = np.array(10)
print(data)
print(type(data))

10
<class 'numpy.ndarray'>

In [ ]:
# 예 2) 타입을 확인해야 하는 이유는 아래와 같아요. 기본 연산이 다르기 때문이죠.
print([1, 2, 3] + [4, 5, 6])
print(np.array([1, 2, 3]) + np.array([4, 5, 6]))

[1, 2, 3, 4, 5, 6]
[5 7 9]

In [ ]:
l = [1, 2, 3, 4]
dir(l) # 메서드 + 멤버

# 이게 왜 중요할까? 코딩하다가 메서드 까먹을까봐 중요하다고 하신걸까?

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 이 빌트인 펑션이 왜 중요하냐면, 앞으로 여러분들이 만날 자료형들은
# 새롭게 만나는 자료형들입니다.
# 예를 들어, 아래 타입을 한 번 살펴보도록 하겠습니다.

import numpy as np

data = np.array([[10, 20, 30], [40, 50, 60]])
dir(data)
# 아래 목록만 봐도 어떤 자료형인지 짐작할 수 있고
# 원하는 메서드를 바로 발견할 수도 있습니다.

print(data.T)

[[10 40]
 [20 50]
 [30 60]]

In [ ]:
# id

a = 10
b = a
c = b

# 화살표는 어떻게 그렸죠?
id(a), id(b), id(c)

# id는 해당 변수가 가리키고 있는 최종 목적지

(10751144, 10751144, 10751144)

In [ ]:
a = 10
b = 10

id(a), id(b)

# 다른 언어에서는 이 값이 다릅니다! 그러면 파이썬에서는 같은가요? 아니요!
# 아니? 아래 같게 나왔는데요?

(10751144, 10751144)

In [ ]:
a = 10000
b = 10000

id(a), id(b)

# 다르게 나왔네요?

(133401993028752, 133401993030096)

# print와 print를 안하는 것에 차이

In [ ]:
# 아직 class를 안배웠지만, 이 차이를 설명하기 위해 잠시 이 코드를 사용하겠습니다.

class CustomInt:
    def __repr__(self):
        return 'hello'

    def __str__(self):
        return 'hello world'

    def __len__(self):
        return 100

In [ ]:
a = CustomInt()

a

hello

In [ ]:
print(a)

hello world

In [ ]:
len(a)

100

In [ ]:
a = 10
print(type(a))
print(a)

<class 'int'>
10

In [ ]:
a

10

In [ ]:
# 아직 class를 안배웠지만, 이 차이를 설명하기 위해 잠시 이 코드를 사용하겠습니다.
# repr이 있으면 str이 없어도 repr이 대체를 해줍니다!

class CustomInt:
    def __repr__(self):
        return 'hello'

test = CustomInt()
# test
print(test)

hello

In [ ]:
# print     -> 해당 인스턴스에 __str__ 호출
# 그냥 출력 -> 해당 인스턴스에 __repr__ 호출

In [ ]:
a = 10
dir(a)
# a.__repr__() # 그냥 출력! 했을 때 실제 실행되는 함수
# a.__str__() # print로 출력! 했을 때 실제 실행되는 함수

'10'

# python built-in functions

* 링크: https://docs.python.org/3/library/functions.html

In [ ]:
# 자주 사용하는 functions
abs
all
any
bin
enumerate
len
format
input
range

sorted
reversed

filter
map
zip

# isinstance # class파트에서 해드리겠습니다!
# issubclass

iter
next

locals
globals

max
min
sum

In [ ]:
# 자료형을 만드는 built-in functions
# int
# float
# str
# complex
# list
# tuple
# dict
# set

In [ ]:
abs(-10) # 절대값
all([True, True, False]) # 안에 있는 값이 다 True여야 True!
any([True, True, False]) # 하나라도 True라면 True!
bin(10) # 2진수로 바꿔줍니다. 알고리즘 문제에서 아주 간혹 출제 됩니다. 실무에서는 거의 쓸일이 없습니다.
# oct()
# hex()

# 뽑힌 2진수를 10진수로 다시 바꾸고 싶을 때!
int('1010', 2)

10

In [ ]:
# 언패킹

a, b = [10, 20]
a, b, c, d, e = range(5)
a, b = (10, 20)
a, b = {
    'one': 10,
    'two': 20
}

a

'one'

In [ ]:
# enumerate
list(enumerate('hello'))
list(enumerate('hello', 100))

for i in enumerate('hello'):
    print(i)

for index, value in enumerate('hello'):
    print(i)

for i, v in enumerate('hello'):
    print(i)

for i in range(len('hello')): # 이렇게 쓰실거면
    print(i)

for i, _ in enumerate('hello'): # 이렇게 쓰시는 것을 권합니다.
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(4, 'o')
(4, 'o')
(4, 'o')
(4, 'o')
(4, 'o')
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [ ]:
# len
len([10, 20, 30])

# format
format(10, 'b')
format(100000000, ',') # 이코드 정말 많이 쓰여요!

# input
input('입력하세요!') # 주의할점: 숫자를 입력해도 문자로 입력받습니다.

# range
# range(start, stop, step)
# range는 리스트가 아니라! range 타입입니다! 2.x에서는 리스트였습니다.

입력하세요!10000

'10000'

In [ ]:
# sorted
# 별표 5개

s = [10, 20, 5, 4, 3, 8, 19, 3, 2]
sorted(s) # 오름차순
sorted(s, reverse=True) # 내림차순

# 이게 왜 중요할까요? 이런 정렬을 할 때가 많습니다.
# 실무에서도 많고, 알고리즘 문제에서도 많아요.

[20, 19, 10, 8, 5, 4, 3, 3, 2]

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # 3
    [1, 1, 2, '김철수', 92, 88, 75],          # 3
    [1, 2, 7, '이', 87, 91, 82],              # 1
    [1, 2, 3, '박민수', 65, 72, 84],          # 3
    [1, 1, 8, '정수진', 91, 85, 93],          # 3
    [1, 3, 1, '강', 76, 79, 88],              # 1
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # 7
    [1, 3, 6, '장현우', 82, 67, 71],          # 3
    [1, 1, 10, '조', 95, 89, 97],             # 1
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # 6
]

# 문제 1 이름의 글자수 대로 정렬해주세요.
def f(x):
    return len(x[3])

sorted(data, key=f)

[[1, 2, 7, '이', 87, 91, 82],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 1, 10, '조', 95, 89, 97],
 [1, 1, 5, '홍길동', 78, 54, 39],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 3, 9, '최준호빛나라', 73, 80, 76],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90]]

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # ?
    [1, 1, 2, '김철수', 92, 88, 75],          # ?
    [1, 2, 7, '이', 87, 91, 82],              # ?
    [1, 2, 3, '박민수', 65, 72, 84],          # ?
    [1, 1, 8, '정수진', 91, 85, 93],          # ?
    [1, 3, 1, '강', 76, 79, 88],              # ?
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # ?
    [1, 3, 6, '장현우', 82, 67, 71],          # ?
    [1, 1, 10, '조', 95, 89, 97],             # ?
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # ?
]

# 문제 2 평균대로 정렬해주세요. 지금 풀어주세요!
def f(x):
    return sum(x[4:])

sorted(data, key=f, reverse=True)

[[1, 1, 10, '조', 95, 89, 97],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 2, 7, '이', 87, 91, 82],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 3, 9, '최준호빛나라', 73, 80, 76],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 1, 5, '홍길동', 78, 54, 39]]

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # ?
    [1, 1, 2, '김철수', 92, 88, 75],          # ?
    [1, 2, 7, '이', 87, 91, 82],              # ?
    [1, 2, 3, '박민수', 65, 72, 84],          # ?
    [1, 1, 8, '정수진', 91, 85, 93],          # ?
    [1, 3, 1, '강', 76, 79, 88],              # ?
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # ?
    [1, 3, 6, '장현우', 82, 67, 71],          # ?
    [1, 1, 10, '조', 95, 89, 97],             # ?
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # ?
]

# 문제 3 국어 점수와 수학 점수가 가장 점수차가 큰 순서대로 정렬해주세요.
def f(x):
    return abs(x[4] - x[6])

sorted(data, key=f, reverse=True)

[[1, 1, 5, '홍길동', 78, 54, 39],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 2, 7, '이', 87, 91, 82],
 [1, 3, 9, '최준호빛나라', 73, 80, 76],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 1, 10, '조', 95, 89, 97],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90]]

In [ ]:
# 1차원의 점들이 주어졌을 때,
# 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오.
# (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

# 예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

# 이렇게 풀지 마세요. 파이써닉하지 않습니다.
s = [1, 3, 4, 8, 13, 17, 20]

for i in range(len(s)):
    pass

In [ ]:
data = [
    [1, 3],
    [3, 4],
    [4, 8],
    [8, 13],
    [13, 17],
    [17, 20],
]

def f(x):
    return x[1] - x[0]

sorted(data, key=f)

[[3, 4], [1, 3], [17, 20], [4, 8], [13, 17], [8, 13]]

In [ ]:
s = [1, 3, 4, 8, 13, 17, 20]

def f(x):
    return x[1] - x[0]

sorted(zip(s, s[1:]), key=f)

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
# sorted에서 자주 나오는 유형2번째!
# 정렬 기준이 나에게 없는경우!?

data1 = [
    'Moby Dick',              # 1851
    'To Kill a Mockingbird',  # 1960
    '1984'                    # 1949
    ]
data2 = {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}

def f(x):
    return data2[x]

sorted(data1, key=f)

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
# 우편번호 정렬
# 우편번호 오름차순 순서대로 주소를 정렬하는 코드
data = [
    ['A동',
     'B동',
     'C동'],
    {'A동': 63007, 'B동': 63010, 'C동': 63002}
]

data1 = data[0]
data2 = data[1]

def f(x):
    return data2[x]

sorted(data1, key=f)

In [ ]:
# 특정 형태의 함수가 들어가야 하나요? 아닙니다. 일반 def 되는 함수 또는 lambda 함수 모두 함수의 형태면 가능합니다!
# 이 함수의 return 되는 값에 따라 정렬을 해줍니다.

In [ ]:
def user_f(aaa, bbb=100):
    return aaa + bbb

user_f(1000)

1100

In [ ]:
def user_f(aaa, bbb=100):
    return aaa + bbb

user_f(1000, bbb=10000)

11000

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # [1, 2, 3]
    [1, 1, 2, '김철수', 92, 88, 75],          # [1, 2, 3]
    [1, 2, 7, '이', 87, 91, 82],              # [1, 2, 3]
    [1, 2, 3, '박민수', 65, 72, 84],          # [1, 2, 3]
    [1, 1, 8, '정수진', 91, 85, 93],          # [1, 2, 3]
    [1, 3, 1, '강', 76, 79, 88],              # [1, 2, 3]
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # [1, 2, 3]
    [1, 3, 6, '장현우', 82, 67, 71],          # [1, 2, 3]
    [1, 1, 10, '조', 95, 89, 97],             # [1, 2, 3]
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # [1, 2, 3]
]

# Q&A 반환값이 아래와 같이 동일하면 어떻게 되나요? 그대로 줍니다.
def f(x):
    return [1, 2, 3]

sorted(data, key=f)

[[1, 1, 5, '홍길동', 78, 54, 39],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 2, 7, '이', 87, 91, 82],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 1, 10, '조', 95, 89, 97],
 [1, 3, 9, '최준호빛나라', 73, 80, 76]]

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # 10
    [1, 1, 2, '김철수', 92, 88, 75],          # 10
    [1, 2, 7, '이', 87, 91, 82],              # 10
    [1, 2, 3, '박민수', 65, 72, 84],          # 10
    [1, 1, 8, '정수진', 91, 85, 93],          # 10
    [1, 3, 1, '강', 76, 79, 88],              # 10
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # 10
    [1, 3, 6, '장현우', 82, 67, 71],          # 10
    [1, 1, 10, '조', 95, 89, 97],             # 10
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # 10
]

# Q&A 반환값이 아래와 같이 동일하면 어떻게 되나요? 그대로 줍니다.
def f(x):
    return 10

sorted(data, key=f)

[[1, 1, 5, '홍길동', 78, 54, 39],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 2, 7, '이', 87, 91, 82],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 1, 10, '조', 95, 89, 97],
 [1, 3, 9, '최준호빛나라', 73, 80, 76]]

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # 10
    [1, 1, 2, '김철수', 92, 88, 75],          # 10
    [1, 2, 7, '이', 87, 91, 82],              # 10
    [1, 2, 3, '박민수', 65, 72, 84],          # 10
    [1, 1, 8, '정수진', 91, 85, 93],          # 10
    [1, 3, 1, '강', 76, 79, 88],              # 10
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # 10
    [1, 3, 6, '장현우', 82, 67, 71],          # 10
    [1, 1, 10, '조', 95, 89, 97],             # 10
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # 10
]

# Q&A 글자에서 1이 얼마나 들어가는지만 카운트 하는 sorted를 구현하고 싶다면 어떻게 해야 하나요?
def user_count(x):
    return ''.join(map(str, x)).count('1')

sorted(data, key=user_count)

[[1, 2, 3, '박민수', 65, 72, 84],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90],
 [1, 3, 9, '최준호빛나라', 73, 80, 76],
 [1, 1, 5, '홍길동', 78, 54, 39],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 2, 7, '이', 87, 91, 82],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 1, 10, '조', 95, 89, 97]]

In [ ]:
# Q&A 구현한 함수 말고 built-in functions 그대로 사용할 수 있나요? 네!
data = [
    '홍',
    '홍길동',
    '길동',
    '장현우',
    '조'
]


sorted(data, key=len)

['홍', '조', '길동', '홍길동', '장현우']

In [ ]:
# ''.join([1, 1, 5, '홍길동', 78, 54, 39])
''.join(map(str, [1, 1, 5, '홍길동', 78, 54, 39])).count('1')

2

In [ ]:
list(reversed([10, 20, 30]))

[30, 20, 10]

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
filter
map
zip

# isinstance # class파트에서 해드리겠습니다!
# issubclass

iter
next

locals
globals

max
min
sum

In [ ]:
result = 0
for i in range(1, 11):
    if i % 2 == 0:
        result += i

result

30

In [ ]:
def f(x):
    return x % 2 == 0

list(filter(f, range(1, 11)))

[2, 4, 6, 8, 10]

In [ ]:
def f(x):
    return x % 2 == 0

sum(filter(f, range(1, 11)))

30

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

def f(x):
    return x[4] >= 30

for i in filter(f, data):
    print(i)

['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280]
['제주항공', '7C101', '15F', '박지민', 35, 15, 720]
['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900]
['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760]
['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320]
['대한항공', 'KE123', '7F', '송', 33, 21, 6780]
['제주항공', '7C505', '17B', '황수진', 40, 14, 940]

In [ ]:
# list 변환하는 것은 하나씩 순회를 돌며 메모리에 적제하기 때문에 아래와 같은 경우
# 효율이 나쁩니다.

# map(함수, iterable)

def f(x):
    return x**2

list(map(f, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# filter와 동일한 함수를 썼을 경우
def f(x):
    return x[4] >= 30

list(map(f, data)) # [True, False, True, True, False, True, True, True, False, True]

[True, False, True, True, False, True, True, True, False, True]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 새로운 리스트를 만들 값을 return 해줬을 때
def f(x):
    return x[4]

list(map(f, data)) # [42, 29, 35, 51, 24, 38, 47, 33, 26, 40]

[42, 29, 35, 51, 24, 38, 47, 33, 26, 40]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 새로운 리스트를 만들 값을 return 해줬을 때
def f(x):
    return 1

list(map(f, data)) # [1, 1, 1, 1, ...]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 문제: 편명과 이름으로 된 새로운 리스트를 만들어주세요.
# [['KE607', '김민준'] ...] 이런식으로 나와야 합니다.
def f(x):
    return 1

list(map(f, data)) # [1, 1, 1, 1, ...]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 문제: 편명과 이름으로 된 새로운 리스트를 만들어주세요.
# [['KE607', '김민준'] ...] 이런식으로 나와야 합니다.
def f(x):
    return [x[1], x[3]]

list(map(f, data)) # [['KE607', '김민준'], ... ]

[['KE607', '김민준'],
 ['OZ721', '이'],
 ['7C101', '박지민'],
 ['LJ211', '최서우미래한별'],
 ['BX213', '정'],
 ['TW305', '강민석'],
 ['RS808', '윤지현'],
 ['KE123', '송'],
 ['OZ562', '장하은별님달빛'],
 ['7C505', '황수진']]

In [ ]:
# map은 어떤 데이터를 '추출'할 때 많이 사용합니다.
# front-end는 입사문제로 map을 자주 출제합니다.

In [ ]:
# 문제: 30살 이상인 사람들의 나이 합을 구해주세요!
# 30살 이상인 사람을 filter 해서 나이를 다 더한 다음 필더링 한 사람들의 합을 구해주면 되겠네?
# 방법1: 나이만 map 해서 뽑고 filter로 30살 이상인 사람 추출해서 sum
# 방법2: filter로 30살 이상인 사람 추출한 다음 map으로 나이만 뽑고 sum


# 방법1
# 일부러 f, ff 이런식으로 함수명을 작성하고 있는데
# 실무에서는 실제 기능에 맞춰 함수명을 작성합니다.
# 함수명을 작성하는 것부터가 큰 스트레스입니다.
# ChatGPT로 많이 하기 때문에 요즘에는 스트레스까진 아닙니다.
# def f(x):
#     return x[4]

# def ff(x):
#     return x >= 30

# sum(filter(ff, map(f, data)))

# 방법2
def f(x):
    return x[4] >= 30

def ff(x):
    return x[4]

sum(map(ff, filter(f, data)))

286

In [ ]:
# 문제 1: 짐무게가 20kg 이상인 승객들의 마일리지 평균을 구해주세요!
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 방법1
def f(x):
    return x[-2] >= 20

def ff(x):
    return x[-1]

filtering_data = list(map(ff, filter(f, data))) # list 변환했어? 메모리 효율이 안좋은데...
sum(filtering_data) / len(filtering_data) # sum을 했어? 한 번 더 순회를 돌아야 하네...

# 방법2
def f(x):
    return x[-2] >= 20

def ff(x):
    return x[-1]

count = 0
sum_result = 0
for i in map(ff, filter(f, data)): # 2번 순회를 돌아야 하는 것을 1번만 순회돈 것입니다.
    count += 1
    sum_result += i

sum_result / count

# 문제 2: 아시아나 항공을 이용하는 40세 미만 승객들의 이름 길이 합을 구해주세요!
def f(x):
    return x[0] == '아시아나' and x[4] < 40

def ff(x):
    return x[3]

len(''.join(map(ff, filter(f, data))))

8

In [ ]:
a = [10, 20, 30]
b = (100, 200)
c = 'hello world'

list(zip(a, b, c))

[(10, 100, 'h'), (20, 200, 'e')]

In [ ]:
a = [10, 20, 30]
b = (100, 200)
c = 'hello world'

s = zip(a, b, c)

for i in s:
    print(i)

# 왜 map이나 zip, filter는 변수로 할당하면 한 번 밖에 순회를 못돌죠?
# 변수에서 다시 순회를 돌 수 있도록 초기화를 해줘야 하는데
# 초기화를 해주지 않는 함수입니다.

for i in s:
    print(i)

(10, 100, 'h')
(20, 200, 'e')

In [ ]:
a = [10, 20, 30]
b = (100, 200)
c = 'hello world'

for i in zip(a, b, c):
    print(i)

for i in zip(a, b, c):
    print(i)

(10, 100, 'h')
(20, 200, 'e')
(10, 100, 'h')
(20, 200, 'e')

In [ ]:
iter
next

for i in range(10):
    print(i)

s = 'hello'
ss = iter(s) # 나는 이제 값을 순차적으로 꺼낼테니까 꺼낼 준비를 해줘!
next(ss) # 다음 값을 꺼내줘!

'h'

In [ ]:
next(ss)

StopIteration:

# 반복문(while)

In [ ]:
# 절대 실행하지 마세요!!
# 브라우저가 멈춥니다!
# 언제 for를 사용하고 언제 while을 사용하나요?
# for는 객체를 순회할 때
# while 정해진 수만큼 순회를 하거나, 문한 반복을 할 때

# 다만 for로 무한반복 구현이 불가능한 것은 아닙니다!
# result = [1, 2, 3]

# for i in result:
#     print(i)
#     result.append(i + 1)

In [ ]:
x = 0

while x < 10:
    print(x)
    x += 1 # 종료할 수 있는 연산

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 좋지 않은 코드
x = 0
result = 0

while x < 11:
    if x % 2 == 0:
        result += x
    x += 1 # 종료할 수 있는 연산

result

30

In [ ]:
# 위의 코드보다 좋은 코드
x = 0
result = 0

while x < 11:
    result += x
    x += 2 # 종료할 수 있는 연산

result

30

In [ ]:
# 주의해야 할 점
i = 2
j = 1

while i < 10:
    while j < 10:
        print(i, j, i*j)
        j += 1
    i += 1
    j = 1

In [ ]:
import random

result = random.randint(1, 100)

while True:
    user_input = int(input('1부터 100까지 숫자를 입력하세요.'))
    if user_input > result:
        print('더 작은 숫자를 입력하세요.')
    elif user_input < result:
        print('더 큰 숫자를 입력하세요.')
    else:
        print('정답입니다!')
        break

1부터 100까지 숫자를 입력하세요.50
더 작은 숫자를 입력하세요.
1부터 100까지 숫자를 입력하세요.30
더 작은 숫자를 입력하세요.
1부터 100까지 숫자를 입력하세요.15
정답입니다!

In [ ]:
# break, continue는 while과 for에서 모두 쓸 수 있습니다.
# break은 반복문을 중단하는 것이고
# continue는 다음 반복문으로 넘어가는 것입니다.

# for i in range(10):
#     if i == 3:
#         break
#     print(i)

for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

 # 조건문(match)

In [ ]:
day = '토'

match day:
    case "월" | "화" | "수" | "목" | "금":
        print("평일")
    case "토" | "일":
        print("주말")
    case _:
        print("올바른 요일을 입력하세요")

주말

In [ ]:
# 이전에는 어떻게 사용했는가?

today = '토'

day = {
    '월': '평일',
    '화': '평일',
    '수': '평일',
    '목': '평일',
    '금': '평일',
    '토': '주말',
    '일': '주말',
}

day.get(today, '제대로 입력하세요!')

'주말'

# 클래스

In [ ]:
# 클래스 - 설계 도면
# 인스턴스 - 생산품

# 클래스 내의 변수 - 멤버 또는 애트리뷰트
# 클래스 내의 함수 - 메서드

# 자동차!
# 데이터(멤버, 애트리뷰트) # 클래스 내 변수로 선언됩니다. 이것을 멤버 또는 애트리뷰트라고 합니다.
#   * 최대 속도
#   * 최대 탑승객

# 기능(메서드) # 클래스 내 함수로 선언됩니다. 이것을 메서드라고 합니다.
#   * 출발
#   * 정지

In [ ]:
class Car:
    max_speed = 300
    max_people = 5

    def start(self):
        print('출발!')

    def stop(self):
        print('정지!')

car1 = Car()
car2 = Car()

print(car1.max_speed)
car1.start() # 어디서 많이 봤던 형태인데요?

300
출발!

In [ ]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'max_people',
 'max_speed',
 'start',
 'stop']

In [ ]:
l = [10, 20, 30]
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
car = Car()
# car1은 Car의 인스턴스입니다!
value = 10 # value = int(value)
# value는 int의 인스턴스입니다!
value = 10.0 # value = float(value)
# value는 float의 인스턴스입니다!
value = [10, 20, 30]
# value는 list의 인스턴스입니다!
value = (10, 20, 30)
# value는 tuple의 인스턴스입니다!

In [ ]:
l = [10, 20, 30]
dir(l)

# l에 더하기도 필요 없습니다!
# l에 곱하기도 필요 없습니다!
# l에 remove도 필요 없습니다!
# ... l + l

l = [1, 2, 3]
ll = [1, 2, 3]
l == ll

a = 10000
b = 10000
id(a) == id(b)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 클래스 변수
# - 설계 도면에 포함되어야 하는 것,
# - 클래스 바로 아래 선언합니다.
# - 모든 인스턴스가 이 변수를 공유합니다.

# 인스턴스 변수
# - 생산품에 포함되어야 하는 것
# - 보통 __init__ 아래 선언합니다.
# - 인스턴스 고유의 영역입니다.

class Car:
    # 클래스 변수 위치
    max_speed = 300
    max_people = 5

modelx = Car()

In [ ]:
Car.max_speed

300

In [ ]:
Car.max_people

5

In [ ]:
# 클래스 변수 - 설계 도면에 포함되어야 하는 것
# 인스턴스 변수 - 생산품에 포함되어야 하는 것

class Car:
    # 클래스 변수 위치
    max_speed = 300
    max_people = 5

    def __init__(self, 구매자):
        # 인스턴스 변수 위치
        # 'self.변수이름'의 형태
        self.차구매자 = 구매자

modela = Car('구매자1')
modelb = Car('구매자2')

modela.차구매자
modelb.차구매자

'구매자2'

In [ ]:
# self의 정체! - self는 해당 인스턴스를 얘기합니다.

class Car:
    # 클래스 변수 위치
    max_speed = 300
    max_people = 5

    def __init__(self, 구매자):
        # 인스턴스 변수 위치
        # 'self.변수이름'의 형태
        self.차구매자 = 구매자

modela = Car('구매자1')
modelb = Car('구매자2')

modela.차구매자
modelb.차구매자

In [ ]:
# self의 정체! - self는 해당 인스턴스를 얘기합니다.

class Car:
    # 클래스 변수 위치
    max_speed = 300
    max_people = 5

    def __init__(self, 구매자):
        # 인스턴스 변수 위치
        # 'self.변수이름'의 형태
        self.차구매자 = 구매자

modela = Car('구매자1')
modelb = Car('구매자2')

# 인스턴스 변수를 이렇게 넣을 수도 있습니다!
modela.스마트키 = '키티 스마트키'
modela.스마트키
# .으로 접근하는 것이 생소하다!? => list나 tuple, dict를 생각하세요.
# l.append()로 접근하잖아요?
# l['append']이렇게 접근하지 않죠.
# 같은 원리로 modela['스마트키']로 접근하지 않습니다.

'키티 스마트키'

In [ ]:
# 비교해보세요.
# 초급자의 마음:
# 클래스가 더 복잡하고 난해하죠?
# 아니, 굳이 이렇게까지 해야하나요?

# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

class Passenger:
    def __init__(self, 항공사, 편명, 좌석번호, 이름, 나이, 짐무게, 마일리지):
        self.항공사 = 항공사
        self.편명 = 편명
        self.좌석번호 = 좌석번호
        self.이름 = 이름
        self.나이 = 나이
        self.짐무게 = 짐무게
        self.마일리지 = 마일리지

p1 = Passenger('대한항공', 'KE607', '12A', '김민준', 42, 23, 5280)
p2 = Passenger('아시아나', 'OZ721', '8C', '이', 29, 18, 3450)
p3 = Passenger('제주항공', '7C101', '15F', '박지민', 35, 15, 720)

p1.이름

'김민준'

In [ ]:
# 중급자 입장:
# 1. 예를 들어서 print로 출력을 했을 때 출력되는 길이가 너무 긴 경우가 있을 수 있어요.
# 2. 예를 들어 data끼리 더해야 될 때가 있어요.

# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

data[0] # 1. 수천자 출력할 수도 있는데?
data[0] + data[1] # 2. 나는 마일리지 더하기를 하고 싶었는데?

['대한항공',
 'KE607',
 '12A',
 '김민준',
 42,
 23,
 5280,
 '아시아나',
 'OZ721',
 '8C',
 '이',
 29,
 18,
 3450]

In [ ]:
class A:
    pass

a = A()

In [ ]:
# 중급자가 다음과 같이 해결해요.


class Passenger:
    def __init__(self, 항공사, 편명, 좌석번호, 이름, 나이, 짐무게, 마일리지):
        self.항공사 = 항공사
        self.편명 = 편명
        self.좌석번호 = 좌석번호
        self.이름 = 이름
        self.나이 = 나이
        self.짐무게 = 짐무게
        self.마일리지 = 마일리지

    def __str__(self):
        return f'{self.이름}, {self.나이}!!'

    def __add__(self, next):
        return self.마일리지 + next.마일리지


p1 = Passenger('대한항공', 'KE607', '12A', '김민준', 42, 23, 5280)
p2 = Passenger('아시아나', 'OZ721', '8C', '이', 29, 18, 3450)
p3 = Passenger('제주항공', '7C101', '15F', '박지민', 35, 15, 720)

print(p1) # 원하는 정보만 출력한 것입니다.
p1 + p2 # 마일리지 더한 것입니다.

김민준, 42!!

8730

In [ ]:
class Car:
    max_speed = 300
    max_people = 5

    def __init__(self, 구매자): # 클래스가 인스턴스를 찍어낼때 자동으로 실행
        self.차구매자 = 구매자

modela = Car('구매자1')
modelb = Car('구매자2')

modela + modelb # '+'기호는 modela에 __add__를 실행합니다!

TypeError: unsupported operand type(s) for +: 'Car' and 'Car'

In [ ]:
# 어려운 것을 만날 때마다 느끼는 나의 마음

# 이게 과연 나의 길일까?
# 내가 할 수 있을까?
# 내가 해야할까?

# 어려운 것을 만나면 더 어려운 부분을 찾아요.
# 왜냐면 그것이 차이를 만들어 낼테니까요.
# 남들도 어려우니까요.

# 이 차이가 '경쟁력'이 되는 것이고
# 많은 경우에 '경제력'도 됩니다.

# 어려움이 가치를 만들어내는 경우가 많아요.

# 지나가서 평온한 날이와요.
# 불편한 날이 지나갑니다.

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

a = Dot(1, 1)
b = Dot(2, 2)

a + b # '+'기호는 a에 __add__를 실행합니다!

TypeError: unsupported operand type(s) for +: 'Dot' and 'Dot'

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return [self.x + next.x, self.y + next.y]

    def __mul__(self, next):
        return [self.x * next.x , self.y * next.y]

a = Dot(1, 1)
b = Dot(2, 2)

a + b # '+'기호는 a에 __add__를 실행합니다!
a * b # '*'기호는 a에 __mul__를 실행합니다!

[2, 2]

In [ ]:
a = 10 # a는 int라는 클래스에 인스턴스입니다!
b = 20 # b는 int라는 클래스에 인스턴스입니다!

a + b # a인스턴스의 __add__를 실행시킨 결과를 보여주세요!
a * b # a인스턴스의 __mul__를 실행시킨 결과를 보여주세요!

30

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __eq__(self, next):
        # return False
        return self.x == next.x and self.y == next.y

a = Dot(1, 1)
b = Dot(1, 2)

a == b # '=='기호는 a에 __eq__를 실행합니다!

dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'x',
 'y']

In [ ]:
l = [10, 20] # l은 list라는 클래스에 인스턴스입니다!
ll = [10, 20] # ll은 list라는 클래스에 인스턴스입니다!

l == ll # l인스턴스의 __eq__를 실행시킨 결과를 보여주세요!

True

In [ ]:
dir(l) # __add__가 있기 때문에 +가 되는 자료형이라는 것을 알 수 있습니다.

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

a = Dot(1, 1)

print(a) # <__main__.Dot object at 0x7c114b4cdc50> 나는 이렇게 출력하고 싶지 않은데?
# [1, 1] 리스트와 형태가 비슷하네?
# (1, 1) 튜플과 형태가 비슷하네?
# {1, 1} ...
# <1, 1> 또는 !1, 1! 이런식으로 기존 자료형과 기호가 다르게 하는 경우가 많습니다.

<__main__.Dot object at 0x7c114b4cdc50>

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __str__(self):
        # return f'<{self.x}, {self.y}>'
        return 'hello world'

a = Dot(1, 1)
b = Dot(2, 2)

print(a) # print는 a의 __str__을 실행합니다.
print(b) # print는 a의 __str__을 실행합니다.

hello world
hello world

In [ ]:
a = 10
# a는 무엇이죠?
# a는 int 클래스의 인스턴스 입니다.

print(a)
# 출력되는 결과는 무엇이죠?
# a 인스턴스의 __str__를 실행시킨 결과(__str__ 메서드의 return)입니다.
# 그 return 값은 10입니다.

# 클래스 연습문제

In [ ]:
## 문제 1: 간단한 Book 클래스 만들기
# 책을 표현하는 Book 클래스를 만들어보세요. 책은 제목, 저자, 페이지 수를 가지며, 책 정보를 출력하는 기능이 있어야 합니다.


# Book 클래스를 구현하세요
# 요구사항:
# 1. 제목(title), 저자(author), 페이지 수(pages)를 속성으로 가짐
# 2. __str__ 메서드를 구현하여 책 정보를 "제목 (저자, 페이지수 쪽)" 형식으로 출력
# 3. book1과 book2를 비교했을 때 페이지 수가 많은 책이 "더 큰" 책이 되도록 __gt__ 메서드 구현

#
class Book:
    def __init__(self, title, author, pages):
        # 아래와 같은 코드를 보일러플레이트 코드라고 합니다. 매번 반복적으로 써야 하는 코드이죠.
        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        return f'{self.title} ({self.author}, {self.pages} 쪽)'

    def __gt__(self, next):
        return self.pages > next.pages

# 예시 실행 코드
book1 = Book("파이썬 기초", "김코딩", 200)
book2 = Book("자바 기초", "이자바", 300)

print(book1)  # 출력 예상: 파이썬 기초 (김코딩, 200 쪽)
print(book2 > book1)  # 출력 예상: True (300 > 200)

파이썬 기초 (김코딩, 200 쪽)
True

In [ ]:
# ---------------------------------------------
## 문제 2: 계산기 클래스 만들기
# 사칙연산을 수행할 수 있는 Calculator 클래스를 만들어보세요.

# Calculator 클래스를 구현하세요
# 요구사항:
# 1. 덧셈, 뺄셈, 곱셈, 나눗셈 기능 구현
# 2. 계산 기록을 저장하는 기능 추가
# 3. 마지막 계산 결과를 기억하고 있어야 함

# 문제가 있는 문제입니다.
# 앞에서 book은 확실히 데이터가 찍어낼 필요가 있는 데이터
# 이러한 계산기는 그냥 함수로 구현하시면 됩니다.
# 굳이 class로 '찍어낼 필요'가 있진 않아요.

class Calculator:
    def __init__(self):
        self.history = []

    def add(self, a, b):
        self.history.append(f'{a} + {b} = {a + b}')
        return a + b

    def subtract(self, a, b):
        self.history.append(f'{a} - {b} = {a - b}')
        return a - b

    def multiply(self, a, b):
        self.history.append(f'{a} * {b} = {a * b}')
        return a * b

    def divide(self, a, b):
        self.history.append(f'{a} / {b} = {a / b}')
        return a / b

    def get_history(self):
        return self.history

    def get_last_result(self):
        return self.history[-1]

# 예시 실행 코드
calc = Calculator()
print(calc.add(5, 3))  # 출력 예상: 8
print(calc.subtract(10, 7))  # 출력 예상: 3
print(calc.multiply(4, 2))  # 출력 예상: 8
print(calc.divide(9, 3))  # 출력 예상: 3.0
print(calc.get_history())  # 출력 예상: ['5 + 3 = 8', '10 - 7 = 3', '4 * 2 = 8', '9 / 3 = 3.0']
print(calc.get_last_result())  # 출력 예상: 3.0

8
3
8
3.0
['5 + 3 = 8', '10 - 7 = 3', '4 * 2 = 8', '9 / 3 = 3.0']
9 / 3 = 3.0

In [ ]:
# ---------------------------------------------
## 문제 3: 간단한 학생 성적 관리 클래스 만들기
# 학생들의 성적을 관리하는 GradeBook 클래스를 만들어보세요.

# GradeBook 클래스를 구현하세요
# 요구사항:
# 1. 학생 이름과 점수를 추가하는 기능
# 2. 전체 학생 목록과 점수를 출력하는 기능
# 3. 최고 점수와 해당 학생 이름을 반환하는 기능
# 4. 평균 점수를 계산하는 기능

class GradeBook:
    def __init__(self):
        self.students = []

    def add_student(self):
        pass

    def print_grades(self):
        pass

    def get_highest_grade(self):
        pass

    def get_average(self):
        pass

# 예시 실행 코드
gradebook = GradeBook()
gradebook.add_student("김철수", 85)
gradebook.add_student("이영희", 92)
gradebook.add_student("박민수", 78)
gradebook.add_student("정지원", 95)

gradebook.print_grades()  # 모든 학생의 이름과 점수 출력
print(f"최고 점수: {gradebook.get_highest_grade()}")  # 출력 예상: 최고 점수: ('정지원', 95)
print(f"평균 점수: {gradebook.get_average()}")  # 출력 예상: 평균 점수: 87.5

In [ ]:
# ---------------------------------------------
## 문제 3: 간단한 학생 성적 관리 클래스 만들기
# 학생들의 성적을 관리하는 GradeBook 클래스를 만들어보세요.

# GradeBook 클래스를 구현하세요
# 요구사항:
# 1. 학생 이름과 점수를 추가하는 기능
# 2. 전체 학생 목록과 점수를 출력하는 기능
# 3. 최고 점수와 해당 학생 이름을 반환하는 기능
# 4. 평균 점수를 계산하는 기능

class GradeBook:
    def __init__(self):
        self.students = []

    def add_student(self, name, score):
        self.students.append((name, score))

    def print_grades(self):
        return self.students

    def get_highest_grade(self):
        def f(x):
            return x[1]
        return sorted(self.students, key=f, reverse=True)[0]

    def get_average(self):
        def f(x):
            return x[1]
        return sum(map(f, self.students)) / len(self.students)

# 예시 실행 코드
gradebook = GradeBook()
gradebook.add_student("김철수", 85)
gradebook.add_student("이영희", 92)
gradebook.add_student("박민수", 78)
gradebook.add_student("정지원", 95)

gradebook.print_grades()  # 모든 학생의 이름과 점수 출력
print(f"최고 점수: {gradebook.get_highest_grade()}")  # 출력 예상: 최고 점수: ('정지원', 95)
print(f"평균 점수: {gradebook.get_average()}")  # 출력 예상: 평균 점수: 87.5

최고 점수: ('정지원', 95)
평균 점수: 87.5

In [ ]:
# ---------------------------------------------
## 나아가기
## 실무라면 어떻게 하는 것이 좋았을까요?
# => class로 변환할 수 있는 것은 모두 클래스로 변경했을 것입니다.

class Student:
    def __init__(self, name, score, phone, email):
        self.name = name
        self.score = score
        self.phone = phone
        self.email = email

    def __str__(self): # print를 하면 출력해주는 문자열
        return f'{self.name}'

    def __repr__(self): # 이 객체를 대표하는 문자열, print를 안하고 출력하면 이 문자열을 출력합니다.
        return f'{self.name}'

class GradeBook:
    def __init__(self):
        self.students = []

    def add_student(self, name, score, phone='000-0000-0000', email=''):
        self.students.append(Student(name, score, phone, email))

    def print_grades(self):
        return self.students

# 예시 실행 코드
gradebook = GradeBook()
gradebook.add_student("김철수", 85, '010-5044-2903')
gradebook.add_student("이영희", 92)
gradebook.add_student("박민수", 78)
gradebook.add_student("정지원", 95)

gradebook.print_grades()

data = gradebook.print_grades()
data[0].score
data[0].phone

'010-5044-2903'

# 상속

In [ ]:
# 국내 학생

class Student:
    def __init__(self, name, score, phone, email):
        self.name = name
        self.score = score
        self.phone = phone
        self.email = email

    def __repr__(self):
        return self.name

# 외국학생이 들어왔습니다!? 1 / 10000 명이 들어왔어요.
# 이 한 명을 위해 이 class를 바꾸는 것이 바람직할까요?
# 그래서 이렇게 하고 싶은겁니다. Student에 있는 것을 그대로 사용하고
# 국적만 추가해주는 다른 class를 만드는 것입니다.

class ForeignStudent(Student):
    def __init__(self, name, score, phone, email, country):
        super().__init__(name, score, phone, email)
        self.country = country

# 그럼 이제 학생들 관리할 때 아래와 같이 관리할 수 있을 겁니다.

data = [
    Student("김민준", 85, "010-1234-5678", "minjun@example.kr"),
    Student("이서연", 92, "010-2345-6789", "seoyeon@example.kr"),
    Student("박지훈", 78, "010-3456-7890", "jihoon@example.kr"),
    Student("최수아", 88, "010-4567-8901", "sua@example.kr"),
    Student("정도현", 95, "010-5678-9012", "dohyun@example.kr"),
    Student("강하은", 82, "010-6789-0123", "haeun@example.kr"),
    Student("윤지우", 90, "010-7890-1234", "jiwoo@example.kr"),
    Student("임서진", 79, "010-8901-2345", "seojin@example.kr"),
    ForeignStudent("Emma Wilson", 87, "010-9012-3456", "emma@example.com", "USA"),
    Student("한유진", 93, "010-0123-4567", "yujin@example.kr")
]

data

# for i in data:
#     print(i.score)

[김민준, 이서연, 박지훈, 최수아, 정도현, 강하은, 윤지우, 임서진, Emma Wilson, 한유진]

In [ ]:
class A:
    pass

class B:
    pass

class C:
    pass

In [ ]:
class A:
    pass

class B(A):
    pass

class C(B):
    pass

In [ ]:
class A:
    def move(self):
        print('움직여요!')

class B(A):
    pass

class C(B):
    pass

a = A()
b = B()
c = C()

a.move()
b.move()
c.move()

움직여요!
움직여요!
움직여요!

In [ ]:
class A:
    num = 100
    def move(self):
        print('움직여요!')

class B(A):
    pass

class C(B):
    pass

a = A()
b = B()
c = C()

a.num
b.num
c.num

100

In [ ]:
class A:
    a = 100

class B:
    b = 200

class C(A, B):
    pass


c = C()

c.a
c.b

200

In [ ]:
class A:
    a = 100

class B:
    a = 200

class C(B, A):
    pass


c = C()

c.a

200

# 메서드 오버라이딩

In [ ]:
class A:
    def move(self):
        print('출발')


class B(A):
    def move(self):
        print('덮어썼지롱!')


b = B()
b.move()

덮어썼지롱!

In [ ]:
# 절대 실행시키지 마세요.
class int(int):
    def __add__(self, a):
        return self * a

int('10') + int('10')

100

In [ ]:
class MyClass:
    def __init__(self, c, d, e):
        self.__c = c
        self.d = d
        self._ = e

c = MyClass(30, 40, 50)
c._
c.__c # error

50

# lambda

In [ ]:
# 이름이 없는 함수!
# 함수는 => 재사용하려고 사용!
# 이름이 없는 함수인 lambda는 재사용이 목적이 아니라 함수 기능 자체에 목적이 있습니다.
def f(x): # 이 f함수를 거의 재사용하지 않아요! 1번만 사용하는 경우가 많습니다.
    return x ** 2

list(map(f, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x: x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# lambda가 자주 사용되는 곳은 어딘가요?

# 보통
# map
# filter
# sorted

# 다만, 고급 프로그래머는 시도 때도 없이 lambda를 사용합니다.
# 그리고 한줄로만 코딩을 하려는 이상한 분들이 있으십니다. => 권하지 않습니다.
# 가독성은 중요합니다. lambda를 너무 겹쳐서 쓰면 가독성이 깨집니다.

In [ ]:
# [2, 5, 3, 7, 5, 3, 4, 1, 2, 3]에서 4 이상인 값을 모두 출력하세요. lambda를 통해 구현하세요.

list(filter(lambda x: x >= 4, [2, 5, 3, 7, 5, 3, 4, 1, 2, 3]))

[5, 7, 5, 4]

In [ ]:
# lambda를 이름 있는 함수로!?

f = lambda num: num >= 4

def f(num):
    return num >= 4

In [ ]:
# 가독성이 매우 떨어지는 중첩 lambda 예시
process_data = lambda data: list(map(
    lambda x: (lambda y: (lambda z: z ** 2)(y * 3) if y % 2 == 0 else (lambda w: w + 10)(y))(
        (lambda a: a + 5 if a > 10 else (lambda b: b * 2)(a))(x)
    ),
    filter(lambda n: (lambda p: p > 0)(n) and (lambda q: q < 100)(n) and (lambda r: r % 3 != 0 or r % 5 == 0)(n), data)
))

# 사용 예시
numbers = list(range(-10, 30))
result = process_data(numbers)
print(result)